@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: .2s;
    font-family: 'Roboto Flex', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    max-width: 1440px;
    margin: 8% auto;
    padding: 0 80px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    width: 70%;
    height: 70vh;
    padding: 20px;
    background: rgb(0, 7, 71);
    border-radius: 3px;
}

.slider {
    overflow: hidden;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: 3px;
    outline: 2px solid #28ff00;
}

.slider-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.mem {
    width: 100%;
    height: 100%;
}

#memfir {
    background: url(./img/mem1.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

#memsec {
    margin: 8% auto;
    background: url(./img/mem2.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

#memthr {
    margin: 8% auto;
    background: url(./img/mem3.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

#memfour {
    margin: 8% auto;
    background: url(./img/mem4.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

#memfiv {
    margin: 8% auto;
    background: url(./img/mem5.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

#memsix {
    background: url(./img/mem6.jpg) no-repeat;
    background-position: center;
    background-size: 80% 80%;
}

.text-and-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.text-container {
    overflow: hidden;
    display: flex;
    gap: 10px;
    width: 200px;
}

.text {
    font-size: 18pt;
}

.dots-container {
    display: flex;
    gap: 8px;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.label:hover .dots {
    outline: 3px solid;
}

.input {
    display: none;
}

.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
}

.dots::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #28ff00;
    transform: scale(0);
}

.input:checked + .dots::after {
    transform: scale(1);
}